* {
	font-size: 18px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.navbar { 
	padding: 0px;
}

.container {
	margin-bottom: 20px;
}

.row {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	max-width: 1300px;
}

.container .row {
	width: 100%;
}

.skillitem {
	width: 100%;
	margin-bottom: 10px;
	/*margin-left: auto;
	margin-right: auto;*/
}

.skillitem p {
	margin: 0px;
}

.img {
	width: 75px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
}

.nav-link {
	margin-right: 20px;
}

.skillcategory {
	background-color: bisque;
	border: 2px solid black;
}

.skname {
	font-weight: bold;
}

#bsimage {
	display: none;
}

#selfie {
	margin-bottom: 10px;
}

body {
	/*background-color:rgb(97, 167, 175);*/
	background-color: rgb(55,68,87);
	height: 100%;
}

.pageheader {
	margin-top: 20px;
	margin-bottom: 10px;
}

.footcalltoaction p {
	font-size: 1.75em;
	font-style: italic;
	margin-bottom: 10px;
}

#linkedin p {
	margin: 10px 0px 0px 0px;
}

#copyright p {
	margin-top: 10px;
}

#personalintro {
	background-color: bisque;
	border: 2px solid black;
	padding: 0px 15px 0px 15px;
}

#personalintro .row {
	margin: 0px;
}

#serviceareas {
	margin-bottom: 5px;
}
.servicecity p {
	margin-bottom: 5px;
}

 table tr td img {
	margin-top: 5px;
}

.navbar {
	background-color: burlywood;
}

footer {
	margin-top: 20px;
	padding: 10px 0px;
	background-color: rgb(55,68,87);
	color: white;
}

#backtop {
	text-decoration: none;
	color: white;
	text-decoration-line: none;
	text-align: center;
}

.nav-link:hover {
	color:rgba(13, 170, 118, 0.699);
}

.servicecity {
	margin: 0px;
}

#help {
	background-color: bisque;
	border: 2px solid black;
	padding-bottom: 10px;
}

.helpitems {
	margin: 0px;
}

.helpitems ul {
	margin-bottom: 0px;
}

#success {
	margin-top: 25%;
}

#successpg {
	background-color: white;
}

#skills {
	margin-top: 20px;
}

.pagesection {
	margin-top: 20px;
	color: white;
}

th, td {
	background-color: bisque !important;
	border-color: black !important;
}

table {
	border: 2px solid black;
}

#btop {
	background-color: rgb(55,68,87);
}

#footer {
	background-color: rgb(55,68,87);
}

hr {
	margin: 50px 0px 0px 0px;
	color: white;
}

.formcat {
	color: white;
}

#indication {
	color: white;
}

#contactme {
	color: white;
}

h4 {
	font-size: 1.35rem;
	margin-top: 5px;
}